In [ ]:
#task list manager

A)to manage a task using list and tuples  including adding removing and sorting task
b)use of set and set opraton to manage student enrollment in multiple entrance exam like cet,jee,neet
c)to create update and manuipulate the dictornary of student record inlcuding grades and attendence

In [11]:
tasks = []

while True:
    name = input("Enter task name (or 'done' to stop): ")
    if name.lower() == 'done':
        break
    priority = int(input(f"Enter priority for '{name}': "))
    tasks.append((name, priority))

tasks.sort(key=lambda x: x[1])

print("\nList after adding and sorting:")
print(tasks)

while True:
    remove_name = input("\nEnter task name to remove (or 'skip' to finish): ")
    if remove_name.lower() == 'skip':
        break
    tasks = [t for t in tasks if t[0] != remove_name]
    print("Updated list:")
    print(tasks)

print("\nFinal Task List:")
print(tasks)

List after adding and sorting:
[('study', 1), ('tv', 2), ('gaming', 3)]
Updated list:
[('study', 1), ('gaming', 3)]

Final Task List:
[('study', 1), ('gaming', 3)]

In [2]:
jee = set(input("Enter JEE students (comma separated): ").split(","))
neet = set(input("Enter NEET students (comma separated): ").split(","))

both = jee & neet
either = jee | neet
only_jee = jee - neet

print("Both Exams:", both)
print("All Unique Students:", either)
print("Only JEE:", only_jee)

Both Exams: {'shree', 'sonu'}
All Unique Students: {'sonu', 'shree', 'shreya', 'hima', 'sans'}
Only JEE: {'hima', 'sans', 'shreya'}

In [4]:
records = {}

id = input("Enter Student ID: ")
name = input("Enter Name: ")
grade = input("Enter Grade: ")
attendance = int(input("Enter Attendance %: "))

records[id] = {"name": name, "grade": grade, "attendance": attendance}

up_id = input("Enter ID to update grade: ")
new_grade = input("Enter new grade: ")
if up_id in records:
    records[up_id]["grade"] = new_grade

print(records)

{'tu8f2526053': {'name': 'himanshu', 'grade': 'A', 'attendance': 99}}

In [8]:
# Initial Records

himanshu= {"grades": {"Math": 85, "Science": 90}, "attendance": 92}
sana= {"grades": {"Math": 95, "Science": 88}, "attendance": 98}
sonu= {"grades": {"Math": 78, "Science": 82}, "attendance": 85}



himanshu["grades"]["history"]=95

sana["grades"]["Science"] = 92

sonu["attendance"] = 90
print(himanshu)
print(sana)
print(sonu)

{'grades': {'Math': 85, 'Science': 90, 'history': 95}, 'attendance': 92}
{'grades': {'Math': 95, 'Science': 92}, 'attendance': 98}
{'grades': {'Math': 78, 'Science': 82}, 'attendance': 90}